.switch {
	position: relative;
	display: block;
	width:100px;
	height: 30px;
	margin: 0 10px 10px 0;
	border-radius: 18px;
	cursor: pointer;
	box-sizing:content-box;
	padding: 0;
	background: #FFF;
	background-image: none;
}

.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.switch-input:checked ~ .switch-label {
	background: #FFF;
	border-color: #000000;
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-input:checked ~ .switch-handle {
	left: 72px;
	background: #000000;
	box-shadow: none;
}

.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: inherit;
	box-sizing:content-box;
	background: #FFF;
	border: solid 2px #eceeef;
	box-shadow: none;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #000000;
	opacity: 0;
}

.switch-handle {
	position: absolute;
	top: 6px;
	left: 6px;
	background: #dadada;
	width: 22px;
	height: 22px;
	box-shadow: none;
	border-radius: 100%;
	
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: #eceeef;	
	border-radius: 6px;
	
}
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}


.button {
  background-color:white ; 
  border-color: #000000;
  color: #000000;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 18px;
  border-style: solid;
  cursor: pointer;
}
.button:disabled{
  background-color:white ; /* Green */
  border-color: #ccc;
  color: #ccc;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 18px;
  border-style: solid;
  cursor: default;
}
.flex-container {
    width:min-content;
    display: flex;
}
.flex-child {
    flex: 1;
}  
.disabled {
    pointer-events: none; /* Disable an element interaction, so it will not respond any event */
}
.line1 {
	fill: none;
	stroke: red;
	stroke-width: 2px;
  }

.line2 {
	fill: none;
	stroke:green;
	stroke-width: 2px;
  }

.line3 {
	fill: none;
	stroke:blue;
	stroke-width: 2px;
  }
  
